$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

body {
    background-color: #fafafa;
}

.top-img {
    @media (min-width: $breakpoint-sm) {
        flex: 1;
    }
}

.top-content {
    @media (min-width: $breakpoint-sm) {
        flex: 3;
        padding-left: 16px;
    }
}

.img-thumbnail {
    padding: 0;
    border: None;
    background: none;
    @media (max-width: $breakpoint-sm) {
        margin-bottom: 12px;
    }
}

.top-panel {
    padding-top: 32px;
    padding-bottom: 32px;
}

.title-publicaitons {
    margin-bottom: 16px;
}

.pub-item {
    border-radius: 16px;
    background-color: #ffffff;
    box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 32px;
}

.pub-thumbnail {
    position: relative;
    @media (min-width: $breakpoint-sm) {
        width: 320px;
        min-width: 320px;
    }
}

.pub-thumbnail-content {
    display: block;
    width: 100%;
    border-radius: 16px 16px 0 0;
    @media (min-width: $breakpoint-sm) {
        border-radius: 16px 0 0 16px;
    }
}

.pub-thumbnail .thumbnail-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
}

.pub-thumbnail:hover .thumbnail-hover {
  opacity: 1;
}

.pub-content {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.pub-title {
    font-size: large;
    font-weight: 600;
    margin-bottom: 16px;
}

.pub-authors {
    margin-bottom: 16px;
}

.pub-conference {
    margin-bottom: 16px;
}

.pub-material {
    margin-top: 8px;
    margin-right: 8px;
}